auto-save-list/
eln-cache/
elpa/
org-roam/
org/
org-journal/
org-roam-project/
request/
image-dired/
lisp/*/
session.*
templates/
transient/
url/
_minted-org-to-latex/
org-roam.db
org-clock-save.el
bbdb
.emacs*
ac-comphist.dat
diary